.Itinerary-container {

    .ic_topbar {
        li {
            .time_limit {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.003em;
                color: #DD1F03;
                display: flex;
                gap: 3px;
            }
        }

    }
}

.passenger_details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    background: #FFFFFF;
    border-radius: 7px;
    margin-top: 26px;

    @media screen and (max-width:900px) {
        padding: 20px;
    }

    .pdb_topbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left_btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 23px;

            .pd_text {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: -0.003em;
                color: #121213;
            }

            .edit_details {
                width: 116px;
                height: 32px;
                background: #F1F5F9;
                border-radius: 40px;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.003em;
                color: #000000;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
            }
        }

        .right_btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 23px;

            .add_passenger_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.003em;
                color: #515050;
                width: 139px;
                height: 32px;
                background: #F1F5F9;
                border-radius: 40px;
                border: none;
                outline: none;

            }
        }




    }

    .pdb_bottombar {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #e2e7ee;
        border-radius: 7px;
        margin-top: 20px;
        font-family: "Manrope";
        font-style: normal;
        // overflow: auto;
        overflow: hidden;

        .Passenger-table {
            tbody {
                width: 836px;
                padding: 14px 44px 44px 44px;
                display: flex !important;
                flex-direction: column !important;

                @media screen and (max-width: 1120px) {
                    width: 100%;
                    padding: 12px 22px 40px 22px;
                }
            }

            @media screen and (max-width: 1120px) {
                width: 100%;
            }
        }

        .passenger-details-head {
            background: #e2e7ee;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: -0.003em;
            color: #121213;
            height: 50px;
            width: 1080px;
            display: flex;
            align-items: center;
            padding-left: 28.93px;
            gap: 5px;

            img {
                width: 28px;
                height: 28px;
            }
        }

        tr {
            margin-top: 22px;
        }

        .table-data {
            max-width: 200px;
            min-width: 200px;
            margin-top: 22px;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.003em;
            color: #67707b;
            padding-right: 14px;

            @media screen and (max-width:900px) {
                max-width: 170px;
                min-width: 170px;
            }

            .table-sub {
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #121213;
            }

            .link {
                color: #189eff;
                text-decoration: underline;
            }
        }

        .table-inner-heading {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.003em;
            color: #121213;
            display: flex;
            gap: 12px;
            justify-content: space-between;

            .plusB-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                flex-direction: row;
                cursor: pointer;

                img {
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }

}