.testimonials {
    max-width: 580px;
    margin: 0 auto;

    &_each {
        &--text {
            font-weight: 500;
            font-size: 20px;
            color: #fff;
            margin-bottom: 50px;
            line-height: 162%;

            @media (max-width:900px) {
                font-size: 18px;
            }
        }

        &_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;


            &--profile {
                min-width: 48px;
                max-width: 48px;
                border-radius: 50%;
                height: 48px;
                object-fit: cover;
                overflow: hidden;

                @media (max-width:900px) {
                    min-width: 38px;
                    max-width: 38px;
                    height: 38px;
                }
            }

            &--details {
                @media (max-width:900px) {
                    max-width: 150px;
                }

                .name {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: #fff;
                    display: block;

                    @media (max-width:900px) {
                        font-size: 16px;
                    }
                }

                .desn {
                    font-weight: 400;
                    font-size: 14px;
                    color: #BFE4FF;
                    display: block;

                    @media (max-width:900px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .owl-nav {
        display: flex;
        justify-content: flex-end;
        margin-top: -8px;

        button {
            width: 20px;
            height: 20px;
            display: inline-flex;

            span {
                font-size: 0px;
            }

            &.owl-prev,
            &.owl-prev:hover {
                background: url('/assets/images/icons/left-arrow.svg') center no-repeat;
                background-size: contain;
            }

            &.owl-next,
            &.owl-next:hover {
                background: url('/assets/images/icons/right-arrow.svg') center no-repeat;
                background-size: contain;
            }
        }
    }
}